<script lang="ts">
import { onMount } from "svelte";
import { Router, Route } from "svelte-routing";
import { me, favorites, notseen, notgood } from "./store";
import { AsyncList, AsyncMe } from "./generated/graphql";
//Routes
import Home from "./components/home.svelte";
import Navbar from "./components/navbar.svelte";
import Login from "./components/user/login.svelte";
import Signup from "./components/user/signup.svelte";
import Favorites from "./components/list/favorites.svelte";
import Notseen from "./components/list/notseen.svelte";
import Notgood from "./components/list/notgood.svelte";

onMount(async () => {
  if (localStorage.getItem("token")) {
    const userMe = await AsyncMe({
      variables: { token: localStorage.getItem("token") },
    });
    console.log(userMe.data)
    if (userMe.data.me.ErrorMessage) {
      alert(userMe.data.me.ErrorMessage);
    } else {
      const list = await AsyncList({
        variables: { token: localStorage.getItem("token") },
      });
      me.set(userMe.data.me);
      favorites.set(list.data.favorite);
      notseen.set(list.data.notseen);
      notgood.set(list.data.notgood);
    }
  }
});

export let url = "";
</script>

<Router url="{url}">
  <Navbar />
  <div class="h-screen w-screen bg-gray-700 overflow-auto">
    <Route path="/notgood" component="{Notgood}" />
    <Route path="/notseen" component="{Notseen}" />
    <Route path="/favorites" component="{Favorites}" />
    <Route path="/signup" component="{Signup}" />
    <Route path="login" component="{Login}" />
    <Route path="/"><Home /></Route>
  </div>
</Router>
