<script lang="ts">
import { onDestroy } from "svelte";
import { favorites, animeinfo, list } from "../../store";
import { AsyncanimeInfo } from "../../generated/graphql";
import type { List } from "../../types";
import Modal from "../modal.svelte";

let modalOpen = false;
let Fav: List[];
let filterFavorite;

function switchModal() {
  modalOpen = !modalOpen;
}

async function getAnimeInfo(anilistId: number) {
  const animeInf = await AsyncanimeInfo({
    variables: {
      anilistId: anilistId,
    },
  });
  animeinfo.set(animeInf.data.anime);
  switchModal();
}

const unsubscribe = favorites.subscribe((fav) => {
  Fav = fav;
});

onDestroy(unsubscribe);

function getFilterFavorite(Fav, filterFavorite: string) {
  if (filterFavorite) {
    return Fav.filter((e) => {
      return e.anime.title
        .toLowerCase()
        .includes(filterFavorite.toLocaleLowerCase());
    });
  } else {
    return Fav;
  }
}
</script>

<main>
    <div class="pt-14 flex flex-col items-center justify-center">
        <div class="mt-4 text-white text-xl">Favorite's Page</div>

        <input class="h-6 w-10/12 my-4 text-center" placeholder="Filter Title" bind:value="{filterFavorite}" />
    </div>
  <div class="flex flex-wrap justify-center">
    {#each getFilterFavorite(Fav, filterFavorite) as fav}
      <div class="p-5">
        <div
          class="w-24 h-44 lg:w-40 lg:h-72 bg-white rounded-md overflow-hidden hover:border-blue-600 hover:border-2"
          on:click="{() => {
            list.set('favorite');
            getAnimeInfo(fav.anime.anilistId);
          }}"
        >
          <img
            class="md:h-40 h-32 w-full"
            src="{fav.anime.image}"
            alt="anime"
          />
          <div class="text-center lg:pt-4 lg:text-xl h-12 lg:font-semibold">
            {fav.anime.title}
          </div>
        </div>
      </div>
    {/each}
  </div>
  {#if modalOpen}
    <Modal functionProps="{switchModal}" />
  {/if}
</main>
