<script lang="ts">
    import { notgood, animeinfo, list } from '../../store'
    import { onDestroy } from 'svelte'
    import { AsyncanimeInfo } from '../../generated/graphql'
    import Modal from '../modal.svelte'
    import type { List } from '../../types'

    let modalOpen = false
    let filterNotGood: string

    function switchModal() {
        modalOpen = !modalOpen
    }

    let Notgood: List[]
    const unsubscribe = notgood.subscribe(e => {
        Notgood = e
    })

    async function getAnimeInfo(anilistId: number) {
        const animeInf = await AsyncanimeInfo({
            variables: {
                anilistId: anilistId
            }
        })
        animeinfo.set(animeInf.data.anime)
        switchModal()
    }

    function getFilterNotgood(Notgood, filterNotGood) {
  if (filterNotGood) {
    return Notgood.filter((e) => {
      return e.anime.title
        .toLowerCase()
        .includes(filterNotGood.toLocaleLowerCase());
    });
  } else {
    return Notgood;
  }
}

    onDestroy(unsubscribe)
</script>

<main>
    <div class="pt-14 flex flex-col items-center justify-center">
        <div class="mt-4 text-white text-xl">Not Good Page</div>
        <input class="h-6 w-10/12 my-4 text-center" placeholder="Filter Title" bind:value="{filterNotGood}" />
    </div>
    <div class="flex flex-wrap justify-center">
    {#each getFilterNotgood(Notgood, filterNotGood) as notgoods}
    <div class="p-5">
        <div class="w-24 h-44 lg:w-40 lg:h-72 bg-white rounded-md overflow-hidden hover:border-blue-600 hover:border-2"
        on:click={() => {
            list.set('notgood')
            getAnimeInfo(notgoods.anime.anilistId)
        }}>
            <img class="md:h-40 h-32 w-full" src={notgoods.anime.image} alt="anime" />
            <div class="text-center lg:pt-4 lg:text-xl h-12 lg:font-semibold">{notgoods.anime.title}</div>
        </div>
    </div>  
    {/each}
    </div>
    {#if modalOpen}
    <Modal functionProps={switchModal} />
    {/if}
</main>
