<script lang="ts">
    import { notseen, animeinfo, list } from '../../store'
    import { onDestroy } from 'svelte'
    import { AsyncanimeInfo } from '../../generated/graphql'
    import Modal from '../modal.svelte'
    import type { List } from '../../types'

    let modalOpen = false

    let Notseen: List[]
    let filterNotSeen: string
    
    const unsubscribe = notseen.subscribe(e => {
        Notseen = e
    })

    function switchModal() {
        modalOpen = !modalOpen
    }

    async function getAnimeInfo(anilistId: number) {
        const animeInf = await AsyncanimeInfo({
            variables: {
                anilistId: anilistId
            }
        })
        animeinfo.set(animeInf.data.anime)
        switchModal()
    }

    function getFilterNotseen(Notseen, filterNotSeen) {
  if (filterNotSeen) {
    return Notseen.filter((e) => {
      return e.anime.title
        .toLowerCase()
        .includes(filterNotSeen.toLocaleLowerCase());
    });
  } else {
    return Notseen;
  }
}

    onDestroy(unsubscribe)
</script>

<main>
    <div class="pt-14 flex flex-col items-center justify-center">
        <div class="mt-4 text-white text-xl">Not Seen Page</div>
        <input class="h-6 w-10/12 my-4 text-center" placeholder="Filter Title" bind:value="{filterNotSeen}" />
    </div>
    <div class="flex flex-wrap justify-center">
    {#each getFilterNotseen(Notseen, filterNotSeen) as notseen}
    <div class="p-5">
        <div class="w-24 h-44 lg:w-40 lg:h-72 bg-white rounded-md overflow-hidden hover:border-blue-600 hover:border-2"
        on:click={() => {
            list.set('notseen')
            getAnimeInfo(notseen.anime.anilistId)
        }}>
            <img class="md:h-40 h-32 w-full" src={notseen.anime.image} alt="anime" />
            <div class="text-center lg:pt-4 lg:text-xl h-12 lg:font-semibold">{notseen.anime.title}</div>
        </div>
    </div>  
    {/each}
    </div>
    {#if modalOpen}
    <Modal functionProps={switchModal} />
    {/if}
</main>
