<script lang="ts">
import { navigate } from "svelte-routing";
import { LogIn, AsyncList, AsyncMe } from "../../generated/graphql";
import { me, favorites, notseen, notgood } from "../../store";
export let user = { email: "", password: "" };

async function login() {
  const users = await LogIn({
    variables: { email: user.email, password: user.password },
  });
  if (users.data.logIn.ErrorMessage) {
    alert(users.data.logIn.ErrorMessage);
  } else {
    localStorage.setItem("token", users.data.logIn.token);
    const userMe = await AsyncMe({
      variables: { token: localStorage.getItem("token") },
    });
    if (userMe.data.me.ErrorMessage) {
      alert(userMe.data.me.ErrorMessage);
    } else {
      const list = await AsyncList({
        variables: { token: localStorage.getItem("token") },
      });
      me.set(userMe.data.me);
      favorites.set(list.data.favorite);
      notseen.set(list.data.notseen);
      notgood.set(list.data.notgood);
      navigate("/", { replace: true });
    }
  }
}
</script>

<main>
  <section class="h-screen bg-gray-600">
    <div class="container px-6 py-12 h-full">
      <div
        class="flex justify-center items-center flex-wrap h-full g-6 text-gray-800"
      >
        <div class="md:w-8/12 lg:w-6/12 mb-12 md:mb-0">
          <!-- svelte-ignore a11y-img-redundant-alt -->
          <img
            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
            class="w-full"
            alt="Phone image"
          />
        </div>
        <div class="md:w-8/12 lg:w-5/12 lg:ml-20">
          <h1 class="text-center text-3xl text-white font-bold p-5">Log In</h1>
          <form on:submit|preventDefault="{login}">
            <!-- Email input -->
            <div class="mb-6">
              <input
                type="text"
                class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                placeholder="Email address"
                bind:value="{user.email}"
              />
            </div>

            <!-- Password input -->
            <div class="mb-6">
              <input
                type="password"
                class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                placeholder="Password"
                bind:value="{user.password}"
              />
            </div>
            <!-- Submit button -->
            <button
              type="submit"
              class="inline-block px-7 py-3 bg-blue-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out w-full"
              data-mdb-ripple="true"
              data-mdb-ripple-color="light"
            >
              Log In
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
