<script lang="ts">
import { AddUser, AsyncList, AsyncMe } from "../../generated/graphql";
import { navigate } from "svelte-routing";
import { me, favorites, notgood, notseen } from "../../store";
import type { Validator } from "../../types";

let confirmPassword: boolean = false;
let user = { username: "", email: "", password: "", confirmPassword: "" };
const regexPassword = new RegExp(
  "^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*])(?=.{8,})"
);

$: validat = {
  username: /[a-zA-z0-9]{2}/.test(user.username),
  email: /[A-Za-z0-9._+-]+@[A-Za-z0-9 -]+\.[a-z]{2}/.test(user.email),
  password: regexPassword.test(user.password),
  confirm: regexPassword.test(user.confirmPassword),
} as Validator;

$: if (
  user.password == user.confirmPassword &&
  user.password.length !== 0 &&
  validat.username &&
  validat.email &&
  validat.password
) {
  confirmPassword = true;
} else {
  confirmPassword = false;
}

async function signup() {
  const addUser = await AddUser({
    variables: {
      username: user.username,
      email: user.email,
      password: user.password,
    },
  });
  const userMe = await AsyncMe({
    variables: { token: localStorage.getItem("token") },
  });
  console.log(userMe.data.me.ErrorMessage)
  if (userMe.data.me.ErrorMessage) {
    alert(userMe.data.me.ErrorMessage);
  } else {
    localStorage.setItem("token", addUser.data.addUser.token);
    const list = await AsyncList({
      variables: { token: localStorage.getItem("token") },
    });
    me.set(userMe.data.me);
    favorites.set(list.data.favorite);
    notseen.set(list.data.notseen);
    notgood.set(list.data.notgood);
    navigate("/", { replace: true });
  }
}
</script>

<main>
  <section class="h-screen bg-gray-600">
    <div class="container px-6 py-12 h-full">
      <div
        class="flex justify-center items-center flex-wrap h-full g-6 text-gray-800"
      >
        <div class="md:w-8/12 lg:w-6/12 mb-12 md:mb-0">
          <!-- svelte-ignore a11y-img-redundant-alt -->
          <img
            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
            class="w-full"
            alt="Phone image"
          />
        </div>
        <div class="md:w-8/12 lg:w-5/12 lg:ml-20">
          <h1 class="text-center text-3xl text-white font-bold p-5">Sign Up</h1>
          <form on:submit|preventDefault="{signup}">
            <!-- Email input -->
            <div class="mb-6">
              <input
                type="text"
                title="Must have 2 characters or more"
                class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                placeholder="user name"
                bind:value="{user.username}"
              />
              {#if !validat.username}
                <div class="text-red-500 text-sm">
                  Username need to be 2 or more Charactors long
                </div>
              {:else}
                <div class="text-sm text-green-500">Good</div>
              {/if}
            </div>
            <div class="mb-6">
              <input
                type="email"
                class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                placeholder="Email address"
                bind:value="{user.email}"
              />
              {#if !validat.email}
                <div class="text-red-500 text-sm">Must be a valid Email</div>
              {:else}
                <div class="text-sm text-green-500">Good</div>
              {/if}
            </div>
            <!-- Password input -->
            <div class="mb-6">
              <input
                type="password"
                class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                placeholder="Password"
                bind:value="{user.password}"
              />
              {#if !validat.password}
                <div class="text-red-500 text-sm">
                  Must have one upper, lower letter, one special charactor and 8
                  or more charactor long
                </div>
              {:else}
                <div class="text-sm text-green-500">Good</div>
              {/if}
            </div>
            <div class="mb-6">
              <input
                type="password"
                class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                placeholder="Confirm Password"
                bind:value="{user.confirmPassword}"
              />
              {#if !confirmPassword}
                <div class="text-red-500 text-sm">Password does not match</div>
              {/if}
            </div>
            <!-- Submit button -->
            {#if confirmPassword}
              <button
                type="submit"
                class="inline-block px-7 py-3 bg-blue-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out w-full"
                data-mdb-ripple="true"
                data-mdb-ripple-color="light"
              >
                Signup
              </button>
            {:else}
              <button
                class="inline-block px-7 py-3 bg-gray-500 text-white font-medium text-sm leading-snug uppercase rounded shadow-md  w-full"
                data-mdb-ripple="true"
                data-mdb-ripple-color="light"
              >
                Signup
              </button>
            {/if}
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
