<style>
.no-scroll-bar::-webkit-scrollbar {
  display: none;
}
.listHeight {
  height: 50rem;
}
</style>

<script lang="ts">
import {
  AsyncSearch,
  AsyncanimeInfo,
  AddAnime,
  type User,
  Asyncnextanimeseason,
} from "../generated/graphql";
import {
  Search,
  animeinfo,
  favorites,
  notseen,
  notgood,
  list,
  me,
} from "../store";
import type { Anime, List } from "../types";
import { onDestroy, onMount } from "svelte";
import Modal from "./modal.svelte";
import leftarrow from "../assets/left-arrow.svg";
import rightarrow from "../assets/right-arrow.svg";
import { fade } from "svelte/transition";

let ModalOpen = false;
// User
let Userme: User;
// Switch to Search or Season
let SearchSeason: boolean = false
// Season
let SeasonResults: Anime[];
// Search
let StoreResults: Anime[];
let search: string;
// Result Page
let page = 1;
let perPage = 6;
let LeftArrow = 0;
let RightArrow = false;
// Lists
let Favorite: List[];
let Notseen: List[];
let Notgood: List[];
// Filter
let filterFavorite: string;
let filterNotseen: string;
let filterNotgood: string;

// Subscribtion to the Svelte Store
const userMe = me.subscribe((e) => {
  Userme = e;
});

const animeSearch = Search.subscribe((e) => {
  StoreResults == e;
});

const animeFavorite = favorites.subscribe((e) => {
  Favorite = e;
});

const animeNotSeen = notseen.subscribe((e) => {
  Notseen = e;
});

const animeNotGood = notgood.subscribe((e) => {
  Notgood = e;
});

onDestroy(() => {
  animeSearch(),
    animeFavorite(),
    animeNotGood(),
    animeNotSeen(),
    userMe()
});

//Open or Close the Modal
function modalOpen() {
  ModalOpen = !ModalOpen;
}
// Function that Search the Anilist DataBase
async function AnimeSearch() {
  SearchSeason = true
  StoreResults = [];
  const searches = await AsyncSearch({
    variables: {
      search: search,
      page: page,
      perPage: perPage,
    },
  });
  StoreResults = searches.data.searches.animes;
  if (searches.data.searches.hasNextPage) {
    RightArrow = true;
  } else {
    RightArrow = false;
  }
}
// Goes to the Next Page for the Search Results or Next Season Results
async function searchNextPage() {
  page++;
  LeftArrow++;
  AnimeSearch();
}
// Goes to the Previouse Page for the Search Results or Next Season Results
async function searchPreviousPage() {
  page--;
  LeftArrow--;
  AnimeSearch();
}
//Resets the Search Results to 0
function resetSearch() {
  SearchSeason = false
  page = 1;
  // Next Season Should have alway more then 6 Right Arrow should to true
  RightArrow = true;
  LeftArrow = 0;
  search = "";
  StoreResults = [];
  getNextSeason()
}
//Gets Anime Information from the DataBase
async function AnimeInfo(anilistId: number) {
  const info = await AsyncanimeInfo({
    variables: {
      anilistId: anilistId,
    },
  });
  animeinfo.set(info.data.anime);
  ModalOpen = !ModalOpen;
}
// Add the anime to the list
async function animeInfo(data: Anime) {
  let InList = data;
  for (let i = 0; i < Favorite.length; i++) {
    if (Favorite[i].anime.anilistId == data.anilistId) {
      InList = {
        id: Favorite[i].anime.id,
        ...data,
      };
      addAnime(data);
      list.set("favorite");
    }
  }
  for (let x = 0; x < Notseen.length; x++) {
    if (Notseen[x].anime.anilistId === data.anilistId) {
      InList = {
        id: Notseen[x].anime.id,
        ...data,
      };
      addAnime(data);
      list.set("notseen");
    }
  }
  for (let y = 0; y < Notgood.length; y++) {
    if (Notgood[y].anime.anilistId === data.anilistId) {
      InList = {
        id: Notgood[y].anime.id,
        ...data,
      };
      addAnime(data);
      list.set("notgood");
    }
  }
  animeinfo.set(InList);
  ModalOpen = !ModalOpen;
}
// Adds the anime information to the Data Base.
async function addAnime(data) {
  const anime = await AddAnime({
    variables: {
      anilistId: data.anilistId,
      title: data.title,
      image: data.image,
      description: data.description,
      genres: data.genres,
      release: data.release,
      episodes: data.episodes,
      token: localStorage.getItem("token"),
    },
  });
}
// Filters Favorites Anime Titles
function getFilterFavorite(Favorite, filterFavorite) {
  if (filterFavorite) {
    return Favorite.filter((fav) => {
      return fav.anime.title
        .toLowerCase()
        .includes(filterFavorite.toLowerCase());
    });
  } else {
    return Favorite;
  }
}
// Filters Not Seen Anime Titles
function getFilterNotseen(Notseen, filterNotseen) {
  if (filterNotseen) {
    return Notseen.filter((e) => {
      return e.anime.title.toLowerCase().includes(filterNotseen.toLowerCase());
    });
  } else {
    return Notseen;
  }
}
// Filters Not Good Anime Titles
function getFilterNotgood(Notgood, filterNotgood) {
  if (filterNotgood) {
    return Notgood.filter((e) => {
      return e.anime.title.toLowerCase().includes(filterNotgood.toLowerCase());
    });
  } else {
    return Notgood;
  }
}

// Gets Anime that is coming for next Season
async function getNextSeason() {
  const aniSeason = await Asyncnextanimeseason({
    variables: {
      page: page,
      limit: perPage,
    },
  });
  //console.log(aniSeason.data)
  SeasonResults = aniSeason.data.showseason.docs;
  if (aniSeason.data.showseason.hasMore) {
    RightArrow = true;
  } else {
    RightArrow = false;
  }
}
// Get the Next Page for Next Season
async function seasonNextPage() {
  page++;
  LeftArrow++;
  getNextSeason();
}
// Go back the Previous page for Next Season
async function seasonPreviousPage() {
  page--;
  LeftArrow--;
  getNextSeason();
}

onMount(async () => {
  // Gets the Anime for Next Season.
  getNextSeason()
});

</script>

<main>
  <div class="container mx-auto pt-20">
    <div class="flex flex-col">
      <form
        class="flex flex-col items-center w-full"
        on:submit|preventDefault="{AnimeSearch}"
      >
        <div class="text-2xl text-white py-4">Search Anime Titles</div>
        <input
          class="w-11/12 h-12 md:ml-8 sm:ml-2 text-center"
          type="text"
          on:click="{resetSearch}"
          bind:value="{search}"
        />
        <button class=" m-4 p-4 bg-blue-500 rounded-md" type="submit">
          Submit</button
        >
      </form>
      {#if SearchSeason}
      <div class="text-center text-2xl font-bold font-serif text-white">Search Results</div>
      {:else}
      <div class="text-center text-2xl font-bold font-serif text-white">Next Season</div>
      {/if}
      <div
        transition:fade="{{ duration: 500 }}"
        class="flex flex-col md:flex-row justify-between items-center h-96"
      >
      {#if SearchSeason}
        {#if LeftArrow !== 0}
          <img
            class="h-12 hidden md:block md:h-24"
            src="{leftarrow}"
            alt="left-arrow"
            on:click="{searchPreviousPage}"
          />
        {:else}
          <div class="w-24"></div>
        {/if}
          <div class="flex flex-wrap justify-center">
            {#if StoreResults}
            {#each StoreResults as results}
              <div
                class="p-4"
                on:click="{() => {
                  list.set('none');
                  animeInfo(results);
                }}"
              >
                <div
                  class="w-24 h-44 1xl:w-32 2xl:w-40 1xl:h-64 2xl:h-72 bg-white rounded-md overflow-hidden hover:border-blue-600 hover:border-2"
                >
                  <img
                    class="h-24 1xl:h-32 2xl:h-40 w-full"
                    src="{results.image}"
                    alt="anime"
                  />
                  <div
                    class="text-center 2xl:pt-4 2xl:text-xl h-12 2xl:font-semibold"
                  >
                    {results.title}
                  </div>
                </div>
              </div>
            {/each}
            {/if}
          </div>
        <div class="flex">
          {#if LeftArrow !== 0}
            <img
              class="h-12 block md:hidden md:h-24 mr-20 md:mr-0"
              src="{leftarrow}"
              alt="left-arrow"
              on:click="{searchPreviousPage}"
            />
          {/if}
          {#if RightArrow}
            <img
              class="h-12 md:h-24"
              src="{rightarrow}"
              alt="right-arrow"
              on:click="{searchNextPage}"
            />
          {:else}
            <div class="w-24"></div>
          {/if}
        </div>
        {:else}
        {#if LeftArrow !== 0}
          <img
            class="h-12 hidden md:block md:h-24"
            src="{leftarrow}"
            alt="left-arrow"
            on:click="{seasonPreviousPage}"
          />
        {:else}
          <div class="w-24"></div>
        {/if}
          <div class="flex flex-wrap justify-center">
            {#if SeasonResults}
            {#each SeasonResults as results}
              <div
                class="p-4"
                on:click="{() => {
                  list.set('none');
                  animeInfo(results);
                }}"
              >
                <div
                  class="w-24 h-44 1xl:w-32 2xl:w-40 1xl:h-64 2xl:h-72 bg-white rounded-md overflow-hidden hover:border-blue-600 hover:border-2"
                >
                  <img
                    class="h-24 1xl:h-32 2xl:h-40 w-full"
                    src="{results.image}"
                    alt="anime"
                  />
                  <div
                    class="text-center 2xl:pt-4 2xl:text-xl h-12 2xl:font-semibold"
                  >
                    {results.title}
                  </div>
                </div>
              </div>
            {/each}
            {/if}
          </div>
        <div class="flex">
          {#if LeftArrow !== 0}
            <img
              class="h-12 block md:hidden md:h-24 mr-20 md:mr-0"
              src="{leftarrow}"
              alt="left-arrow"
              on:click="{seasonPreviousPage}"
            />
          {/if}
          {#if RightArrow}
            <img
              class="h-12 md:h-24"
              src="{rightarrow}"
              alt="right-arrow"
              on:click="{seasonNextPage}"
            />
          {:else}
            <div class="w-24"></div>
          {/if}
        </div>
        {/if}
      </div>
      {#if Userme.username}
        <div class="hidden md:flex justify-center">
          <div class="w-1/3 mb-4 flex flex-col items-center justify-center">
            <div class="text-white text-2xl">Favorites</div>
            <div class="border-2 border-white">
              <input
                class="w-full h-8 text-center border-2 border-black focus:bg-gray-100 font-serif"
                placeholder="Filter Title"
                bind:value="{filterFavorite}"
              />
              <div class="w-full listHeight no-scroll-bar overflow-auto">
                {#each getFilterFavorite(Favorite, filterFavorite) as fav}
                  <div
                    class="flex items-center border-2 my-4 mx-auto border-red-600 w-11/12 cursor-pointer"
                    on:click="{() => {
                      list.set('favorite');
                      AnimeInfo(fav.anime.anilistId);
                    }}"
                  >
                    <img class="h-32" src="{fav.anime.image}" alt="anime" />
                    <div class="text-xl text-white px-8">{fav.anime.title}</div>
                  </div>
                {/each}
              </div>
            </div>
          </div>
          <div
            class="w-1/3 flex mb-4 mx-4 flex-col items-center justify-center"
          >
            <div class="text-white text-2xl">Not Seen</div>
            <div class="border-2 border-white">
              <input
                class="w-full h-8 text-center border-2 border-black focus:bg-gray-100 font-serif"
                placeholder="Filter Title"
                bind:value="{filterNotseen}"
              />
              <div class="w-full listHeight no-scroll-bar overflow-auto">
                {#each getFilterNotseen(Notseen, filterNotseen) as seen}
                  <div
                    class="flex items-center border-2 my-4 mx-auto border-red-600 w-11/12 cursor-pointer"
                    on:click="{() => {
                      list.set('notseen');
                      AnimeInfo(seen.anime.anilistId);
                    }}"
                  >
                    <img class="h-32" src="{seen.anime.image}" alt="anime" />
                    <div class="text-xl text-white px-8">
                      {seen.anime.title}
                    </div>
                  </div>
                {/each}
              </div>
            </div>
          </div>
          <div class="w-1/3 mb-4 flex flex-col justify-center items-center">
            <div class="text-white text-2xl">Not Good</div>
            <div class="w-full border-2 border-white">
              <input
                class="w-full h-8 text-center border-2 border-black focus:bg-gray-100 font-serif"
                placeholder="Filter Title"
                bind:value="{filterNotgood}"
              />
              <div class="w-full listHeight no-scroll-bar overflow-auto">
                {#each getFilterNotgood(Notgood, filterNotgood) as good}
                  <div
                    class="flex items-center border-2 my-4 mx-auto border-red-600 w-11/12 cursor-pointer"
                    on:click="{() => {
                      list.set('notgood');
                      AnimeInfo(good.anime.anilistId);
                    }}"
                  >
                    <img class="h-32" src="{good.anime.image}" alt="anime" />
                    <div class="text-xl text-white px-8">
                      {good.anime.title}
                    </div>
                  </div>
                {/each}
              </div>
            </div>
          </div>
        </div>
      {/if}
    </div>
    {#if ModalOpen}
      <Modal functionProps="{() => modalOpen()}" />
    {/if}
  </div>
</main>
