<script lang="ts">
import { onDestroy } from "svelte";
import { animeinfo, favorites, notseen, notgood, list, me } from "../store";
import {
  AddAnime,
  AddFavorite,
  AddNotGood,
  AddNotSeen,
  type Favorite,
  type NotSeen,
  type NotGood,
} from "../generated/graphql";
import type { List, Anime } from "../types";

export let functionProps = () => {};

let AnimeInfo: Anime;

let addToList: List;

let animeId: string;

let listId: string;

let userMe

const unsubscribeMe = me.subscribe((e) => {
  userMe = e
})

const unsubscribeList = list.subscribe((e) => {
  listId = e;
});

const unsubscribe = animeinfo.subscribe((e) => {
  AnimeInfo = e;
});

onDestroy(() => {
  unsubscribe(), unsubscribeList(), unsubscribeMe();
});

async function addList(event: string) {
  if (listId == "none") {
    await addAnime();
  } else {
    animeId = AnimeInfo.id;
  }

  if (event == "favorite") {
    const Favorite = await AddFavorite({
      variables: {
        anime: animeId,
        token: localStorage.getItem("token"),
        list: listId,
      },
    });
    addToList = {
      id: Favorite.data.addFavorite.id,
      anime: {
        id: animeId,
        anilistId: AnimeInfo.anilistId,
        title: AnimeInfo.title,
        image: AnimeInfo.image,
      },
    };
    if (Favorite.data.addFavorite.ErrorMessage) {
      alert(Favorite.data.addFavorite.ErrorMessage);
    } else {
      favorites.update((fav) => [...fav, addToList as Favorite]);
      notseen.update((e) =>
        e.filter((e) => e.anime.anilistId !== AnimeInfo.anilistId)
      );
      notgood.update((e) =>
        e.filter((e) => e.anime.anilistId !== AnimeInfo.anilistId)
      );
    }
  }
  if (event == "notseen") {
    const Notseen = await AddNotSeen({
      variables: {
        anime: animeId,
        token: localStorage.getItem("token"),
        list: listId,
      },
    });
    addToList = {
      id: Notseen.data.addNotSeen.id,
      anime: {
        id: animeId,
        anilistId: AnimeInfo.anilistId,
        title: AnimeInfo.title,
        image: AnimeInfo.image,
      },
    };
    if (Notseen.data.addNotSeen.ErrorMessage) {
      alert(Notseen.data.addNotSeen.ErrorMessage);
    } else {
      notseen.update((seen) => [...seen, addToList as NotSeen]);
      favorites.update((e) =>
        e.filter((e) => e.anime.anilistId !== AnimeInfo.anilistId)
      );
      notgood.update((e) =>
        e.filter((e) => e.anime.anilistId !== AnimeInfo.anilistId)
      );
    }
  }
  if (event == "notgood") {
    const Notgood = await AddNotGood({
      variables: {
        anime: animeId,
        token: localStorage.getItem("token"),
        list: listId,
      },
    });
    addToList = {
      id: Notgood.data.addNotGood.id,
      anime: {
        id: animeId,
        anilistId: AnimeInfo.anilistId,
        title: AnimeInfo.title,
        image: AnimeInfo.image,
      },
    };
    if (Notgood.data.addNotGood.ErrorMessage) {
      alert(Notgood.data.addNotGood.ErrorMessage);
    } else {
      notgood.update((good) => [...good, addToList as NotGood]);
      favorites.update((e) =>
        e.filter((e) => e.anime.anilistId !== AnimeInfo.anilistId)
      );
      notseen.update((e) =>
        e.filter((e) => e.anime.anilistId !== AnimeInfo.anilistId)
      );
    }
  }
}

async function addAnime() {
  const anime = await AddAnime({
    variables: {
      anilistId: AnimeInfo.anilistId,
      title: AnimeInfo.title,
      image: AnimeInfo.image,
      description: AnimeInfo.description,
      genres: AnimeInfo.genres,
      release: AnimeInfo.release,
      episodes: AnimeInfo.episodes,
      token: localStorage.getItem("token"),
    },
  });
  if (anime.data.addAnime.ErrorMessage) {
    alert(anime.data.addAnime.ErrorMessage);
  } else {
    animeId = anime.data.addAnime.id;
  }
}
</script>

<main>
  <div
    class="justify-center items-center flex overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none"
  >
    <div class="relative w-auto my-6 mx-auto max-w-3xl">
      <div
        class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none"
      >
        <div
          class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t"
        >
          <h3 class="text-3xl font-semibold">
            {AnimeInfo.title}
          </h3>
          <button
            class="p-1 ml-auto border-0 text-black float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
            on:click="{functionProps}"
          >
            <span
              class="text-black h-6 w-6 text-2xl block outline-none focus:outline-none"
            >
              ×
            </span>
          </button>
        </div>
        <div class="relative p-6 flex md:flex-row flex-col">
          <img class="h-52 w-52 p-4" src="{AnimeInfo.image}" alt="anime" />
          <p
            class="my-4 text-slate-500 text-lg leading-relaxed h-52 lg:h-full overflow-auto"
          >
            {AnimeInfo.description}
          </p>
        </div>
        <div class="font-bold px-12">Release in {AnimeInfo.release}</div>
        <div class="font-bold px-12">Genres {AnimeInfo.genres}</div>
        <div class="font-bold px-12">Episodes {AnimeInfo.episodes}</div>
        {#if userMe.username}
        <div
          class="flex flex-wrap items-center justify-center md:justify-end p-6 border-t border-solid border-slate-200 rounded-b"
        >
          {#if listId !== "favorite"}
            <button
              class="bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button"
              on:click="{() => {
                addList('favorite');
                functionProps();
              }}"
            >
              Add To Favorite
            </button>
          {/if}
          {#if listId !== "notseen"}
            <button
              class="bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button"
              on:click="{() => {
                addList('notseen');
                functionProps();
              }}"
            >
              Add To NotSeen
            </button>
          {/if}
          {#if listId !== "notgood"}
            <button
              class="bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button"
              on:click="{() => {
                addList('notgood');
                functionProps();
              }}"
            >
              Add To NotGood
            </button>
          {/if}
        </div>
        {/if}
      </div>
    </div>
  </div>
  <div class="opacity-25 fixed inset-0 z-40 bg-black"></div>
</main>
