<script lang='ts'>
  import { link, navigate } from 'svelte-routing'
  import { me, favorites, notseen, notgood, } from '../store'
  import { onDestroy } from 'svelte'
  import type { User } from '../generated/graphql'
  import { fly } from 'svelte/transition'

  let user: User
  
  let unsubscribe = me.subscribe(e => {
    user = e
  })

  function logout() {
    me.set({id: '', username: ''})
    favorites.set([])
    notseen.set([])
    notgood.set([])
    localStorage.removeItem('token')
    navigate('/', { replace: true })
  }

  onDestroy(unsubscribe)

  export let showMenu = false
</script>

<main>
  <div class='bg-purple-700 h-16 text-white fixed w-screen'>
    <div class="container mx-auto md:pt-3 pt-5 items-center flex justify-between">
      <div class="hover:text-blue-500 cursor-pointer" on:click="{() => navigate('/', { replace: true })}">Anime List</div>
      {#if user.username }
      <div class="font-bold"> Welcome {user.username}</div>
      {/if}
      <button class="md:hidden" on:click={() => showMenu = !showMenu}>
         <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
            >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4 6h16M4 12h16M4 18h16"
            />
         </svg>
      </button>
      <div class="hidden md:block">
        <ul class="flex justify-center items-center">
      {#if !user.username}
          <li>
            <a class="block p-3 pl-10 hover:text-blue-500" use:link href='login'>Log In</a>
          </li>
          <li>
            <a class="block p-3 pl-10 hover:text-blue-500" use:link href='signup'>Sign Up</a>
          </li>
          {:else}
          <li>
            <button class="bg-blue-500 p-2 rounded-md" on:click="{logout}">Log Out</button>
          </li>
      {/if}
        </ul>
      </div>
      </div>
      {#if showMenu}
      <nav transition:fly={{x: 200, duration: 750}} class="fixed top-16 button-0 right-0 bg-purple-700 w-40 md:Static h-screen">
        <ul>
          {#if user.username}
          <li>
            <a class='block p-3 pl-10 hover:text-blue-500' use:link href="/" on:click={() => showMenu = !showMenu}>Home</a>
          </li>
          <li>
            <a class='block p-3 pl-10 hover:text-blue-500' use:link href='favorites' on:click={() => showMenu = !showMenu}>Favorites</a>
          </li>
          <li>
            <a class='block p-3 pl-10 hover:text-blue-500' use:link href='notseen' on:click={() => showMenu = !showMenu}>Not Seen</a>
          </li>
          <li>
            <a class="block p-3 pl-10 hover:text-blue-500" use:link href='notgood' on:click={() => showMenu = !showMenu}>Not Good</a>
          </li>
          <li>
            <button class="bg-blue-500 ml-8 block p-3 rounded-md" on:click="{logout}">Log Out</button>
          </li>
          {:else}
          <li>
            <a class='block p-3 pl-10 hover:text-blue-500' use:link href="/" on:click={() => showMenu = !showMenu}>Home</a>
          </li>
          <li>
            <a class="block p-3 pl-10 hover:text-blue-500" use:link href='login' on:click={() => showMenu = !showMenu}>Log In</a>
          </li>
          <li>
            <a class="block p-3 pl-10 hover:text-blue-500" use:link href='signup' on:click={() => showMenu = !showMenu}>Sign Up</a>
          </li>
          {/if}
        </ul>
      </nav>
      {/if}
  </div>
</main>
